.Login{
    font-size: 30px;
}

.login-input{
    width: 190px;
    height: 40px;
    border: 1px solid;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 20px;
}